{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{% static 'accounts/style.css' %}">
</head>
<body>

<div class="container">
    <h1 class="color-darkred">Your first Template</h1>
    <p>Hello <strong>{{ name }}</strong></p>
    <p>You Can Login Here <button class="waves-effect waves-light btn">Login</button></p>

    <blockquote>
      This is an example quotation that uses the blockquote tag. MATERIALIZE CSS is Awesome
    </blockquote>
    <p>Iterate Num : </p>
    <ul>
        {% for number in numbers %}
        <li>{{ number }}</li>
        {% endfor %}
    </ul>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>